form {
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form {
    max-width: 600px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 40px auto;
	
	padding: 20px;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
    box-sizing: inherit;
    
}

input {
    font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 10px;
}

label {
    width: 45%;
    margin: 10px;
}